@use '../variables.scss' as *;


.billing {
  display: flex;
  align-items: center;
  justify-content: center;
  
  button {
    color: $text-secondary;
    background-color: $color-danger;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 3%;
  }
}