@use '../variables.scss' as *;
@use '../mixins.scss' as *;


.clients-main.pc {
  display: flex;
  flex-direction: row;
  height: 100%;
}



.clients-main.mobile {
  display: flex;
  flex-direction: column;

  .clients-list ul {
    min-height: 30vh;
    max-height: 30vh;

    li { @include list-style; }
  }

  .clients-list-form {
    @include form-style;
  }
}