@use '../variables.scss' as *;


.nav-mobile, .aside-pc {
  display: flex;
}

.home-main.pc {
  display: flex;
  flex-direction: row;
  height: 100%;

  aside {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100% !important;
    width: 5%;
    color: $text-secondary;
    background-color: $color-primary;

    div {
      font-size: 1.5rem; 
      cursor: pointer; 
      transition: ease-in-out 0.1s;
    }

    div:hover {
      filter: drop-shadow(0 0 0.3rem $color-secondary);
    }
  } 
}




.home-main.mobile {
  flex-direction: column;
  height: 100%;

  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 6%;
    padding: 5px;
    color: $text-secondary;
    background-color: $color-primary;

    div {font-size: 1.3rem;}
  }

  .graphs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    width: 100%;
    height: 20%;
    background-color: $color-primary;
    color: $text-secondary;

    .graph-data {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: Arial, Helvetica, sans-serif;
      padding: 5px;
      height: 15%;
      width: 95%;

      label {
        width: clamp(130px, 20vw, 150px);
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .graph {
        width: 100% !important;
        height: 100% !important;
      }

      .money-value {
        font-size: 15px;
        width: 20%;
      }
    }
  }

  .pendencies {
    height: 60%;

    li {
      display: flex;
      justify-content: space-between;
      padding: 0 10%;
      list-style: none;
      border-left: solid 1px $chart-color-1;
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    
    button {
      color: $text-secondary;
      background-color: $color-primary;
      border: none;
      outline: none;
      border-radius: 15px;
      padding: 3%;
    }
  }
}
