@use '../variables.scss' as *;
@use '../mixins.scss' as *;

.sales-main.pc {
  display: flex;
  flex-direction: row;
  height: 100%;
}


.products-main.mobile {
  display: flex;
  flex-direction: column;

  .products-list ul {
    min-height: 25vh;
    max-height: 45vh;
    overflow-y: auto;
    
    span { 
      font-weight: 800; 
      color: $text-tertiary; 
      width: 100%; 
      text-align: center;
    }

    li { @include list-style; }    
  }

  .products-list-form {
    @include form-style;
  }
}