@use '../variables.scss' as *;
@use '../mixins.scss' as *;

.sales-main.pc {
  display: flex;
  flex-direction: row;
  height: 100%;
}



.sales-main.mobile {
  display: flex;
  flex-direction: column;

  .sales-list ul {
    min-height: 45vh;
    max-height: 45vh;
    overflow-y: auto;

    span { 
      font-weight: 800;
      font-size: 1rem;
      width: 100%;
      text-align: center; 
      color: $text-tertiary;
    }

    li { @include list-style; }
  }

  .sales-list-form {
    @include form-style;
  }
}





@keyframes appears {
  from { right: 50%; }
  to { right: 10%; }
}