@use '../variables.scss' as *;
@use '../mixins.scss' as *;

.sales-main.pc {
  display: flex;
  flex-direction: row;
  height: 100%;
}



.sales-main.mobile {
  display: flex;
  flex-direction: column;

  .sales-list ul {
    min-height: 45vh;
    max-height: 45vh;
    overflow-y: auto;

    span { 
      font-weight: 800;
      font-size: 1rem;
      width: 100%;
      text-align: center; 
      color: $text-tertiary;
    }

    li { @include list-style; }
  }

  .sales-list-form {
    @include form-style;
  }

  .hidden {
    display: none;
  }

  .edit {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 10; 
    animation: appears 0.5s ease-in-out;

    svg {
      background-color: transparent !important;
      cursor: pointer;
      transition: ease-in-out 0.1s;
      margin: 5px 0;
    }

    .edit-bttn {
      color: $text-primary;
    }

    .delete-bttn {
      color: $color-danger;
    }

    .close-bttn {
      color: $color-danger;
    }
  }
}





@keyframes appears {
  from { right: 50%; }
  to { right: 10%; }
}