@use 'variables.scss' as *;

// components 
@use './components/navbar.scss';
@use './components/billing.scss';
@use './components/aside.scss';
@use './components/empty.scss';

// pages
@use './pages/loginpage.scss';
@use './pages/home.scss';
@use './pages/clientspage.scss';
@use './pages/salespage.scss';
@use './pages/productspage.scss';
@use './pages/loading.scss';


#root {
  height: 100vh;
}

ul {
  all: unset;
}

body {
  background-color: #ffff;
  font-family: 'Raleway', sans-serif;
  margin: auto;
}

h2 {
  color: $text-primary;
  font-size: 1.5rem;
  margin: 5%;

  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: $chart-color-1;
    filter: drop-shadow(0 0 1rem $chart-color-1) drop-shadow(0 0 0.2rem $chart-color-1);
    margin-right: 0.5rem;
  }
}

h3 {
  color: $chart-color-1;
  font-size: 1.5rem;
  margin: 5%;
}

// NÃO ESQUECER
// ID PARA MOBILE AND COMPUTER USERS


.hidden {
  display: none;
}

.edit {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  right: 100%;
  width: 10% !important;
  transform: translateY(-50%);
  text-align: center;
  z-index: 10; 
  animation: appears 0.5s ease-in-out;

  svg {
    background-color: transparent !important;
    cursor: pointer;
    transition: ease-in-out 0.1s;
    margin: 5px 0;
  }

  .edit-bttn {
    color: $text-primary;
  }

  .save-bttn {
    color: $color-success;
  }

  .delete-bttn {
    color: $color-danger;
  }

  .close-bttn {
    color: $color-danger;
  }
}

.edit-field {
  display: flex;
  padding: 0 !important;

  div {
    width: 100% !important;
    margin: 0 !important;
  }

  .edit-input {
    width: 80%;
    margin: 0 !important;
  }
}


@keyframes appears {
  from { right: 150%; }
  to { right: 100%; }
}
