@use 'variables.scss' as *;

// components 
@use './components/navbar.scss';
@use './components/billing.scss';
@use './components/aside.scss';

// pages
@use './pages/home.scss';
@use './pages/clientspage.scss';
@use './pages/salespage.scss';
@use './pages/productspage.scss';


#root {
  height: 100vh;
}

body {
  background-color: $color-secondary;
  font-family: 'Raleway', sans-serif;
  margin: auto;
}

h2 {
  color: $text-primary;
  font-size: 2rem;
  margin: 5%;

  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: $chart-color-1;
    filter: drop-shadow(0 0 1rem $chart-color-1) drop-shadow(0 0 0.2rem $chart-color-1);
    margin-right: 0.5rem;
  }
}

h3 {
  color: $chart-color-1;
  font-size: 1.5rem;
  margin: 5%;
}
