nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 6%;
  padding: 10px;
  color: #d8dbdb;
  background-color: #1F3A93;
}
nav div {
  font-size: 1.3rem;
  padding: 0 10px;
}

.billing {
  display: flex;
  align-items: center;
  justify-content: center;
}
.billing button {
  color: #d8dbdb;
  background-color: #E74C3C;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 3%;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100% !important;
  width: 5%;
  color: #d8dbdb;
  background-color: #1F3A93;
}
aside div {
  font-size: 1.5rem;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}
aside div:hover {
  filter: drop-shadow(0 0 0.3rem #F4F4F4);
}

.login-main.pc {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.login-main.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(#1F3A93, #8099e9);
}
.login-main.mobile svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.login-main.mobile .circle1 {
  fill: #1F3A93;
  opacity: 0.5;
  position: absolute;
}
.login-main.mobile .circle2 {
  fill: #4866c7;
  opacity: 0.5;
}
.login-main.mobile .circle3 {
  fill: #8099e9;
  opacity: 0.5;
}
.login-main.mobile .forms {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F4F4F4;
  width: 80vw;
  height: 500px;
  z-index: 1;
  border-radius: 15px;
}
.login-main.mobile .forms h1 {
  color: #2C3E50;
  font-size: 2.5rem;
}
.login-main.mobile .forms form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-main.mobile .forms form .login-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: #2C3E50;
}
.login-main.mobile .forms form .login-field label {
  margin: 5px;
  width: 85%;
}
.login-main.mobile .forms form .login-field input {
  all: unset;
  padding: 5px;
  margin: 5px;
  width: 80%;
}
.login-main.mobile .forms form .login-field.has-content input {
  all: unset;
  padding: 5px;
  margin: 5px;
  border-bottom: solid 1px #9b9d9e;
  width: 85%;
}
.login-main.mobile .forms form button {
  all: unset;
  color: #d8dbdb;
  background-color: #1F3A93;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 15px;
  width: 50%;
  padding: 3%;
  margin: 20px;
}
.login-main.mobile .forms form .forgot-password {
  color: grey;
  margin-top: 10px;
}
.login-main.mobile .forms form .register {
  color: #9b9d9e;
  font-size: 15px;
  text-align: center;
  width: 100%;
}
.login-main.mobile .forms form .register span {
  color: #1F3A93;
  margin-left: 5px;
}

.home-main.pc {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.home-main.mobile {
  height: 100%;
}
.home-main.mobile .graphs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  width: 100%;
  height: 20%;
  background-color: #1F3A93;
  color: #d8dbdb;
}
.home-main.mobile .graphs .graph-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  height: 15%;
  width: 95%;
}
.home-main.mobile .graphs .graph-data label {
  width: clamp(130px, 20vw, 150px);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home-main.mobile .graphs .graph-data .graph {
  width: 100% !important;
  height: 100% !important;
}
.home-main.mobile .graphs .graph-data .money-value {
  font-size: 15px;
  width: 35%;
  text-align: center;
}
.home-main.mobile .pending {
  display: flex;
  align-items: center;
  height: 65%;
}
.home-main.mobile .pending li {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  list-style: none;
  border-left: solid 1px #6aacd8;
}
.home-main.mobile .pending li div {
  padding: 3%;
  background-color: rgb(230, 232, 233);
  font-size: 1rem;
  margin: 3% 0;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clients-main.pc {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.clients-main.mobile {
  display: flex;
  flex-direction: column;
}
.clients-main.mobile .clients-list ul {
  min-height: 30vh;
  max-height: 30vh;
}
.clients-main.mobile .clients-list ul li {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  list-style: none;
  border-left: solid 1px #6aacd8;
}
.clients-main.mobile .clients-list ul li div {
  padding: 3%;
  background-color: rgb(230, 232, 233);
  font-size: 1rem;
  margin: 3% 0;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clients-main.mobile .clients-list-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.clients-main.mobile .clients-list-form .info-field {
  display: flex;
  align-items: center;
}
.clients-main.mobile .clients-list-form .info-field label {
  margin: 10px;
  width: 100px;
  color: #9b9d9e;
  font-weight: bold;
  text-align: end;
}
.clients-main.mobile .clients-list-form .info-field input {
  all: unset;
  border-bottom: solid 1px #F4F4F4;
}
.clients-main.mobile .clients-list-form .info-field input:focus {
  border-bottom: solid 1px #1F3A93;
}
.clients-main.mobile .clients-list-form .info-field.has-content input {
  border-bottom: solid 1px #1F3A93;
}
.clients-main.mobile .clients-list-form .save-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-main.mobile .clients-list-form .save-field label {
  font-weight: bold;
}
.clients-main.mobile .clients-list-form .save-field .save {
  all: unset;
  cursor: pointer;
  font-size: 13vw;
  margin: 10%;
  color: #2ECC71;
}

.sales-main.pc {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sales-main.mobile {
  display: flex;
  flex-direction: column;
}
.sales-main.mobile .sales-list ul {
  min-height: 45vh;
  max-height: 45vh;
}
.sales-main.mobile .sales-list ul span {
  font-weight: 800;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  color: #9b9d9e;
}
.sales-main.mobile .sales-list ul li {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  list-style: none;
  border-left: solid 1px #6aacd8;
}
.sales-main.mobile .sales-list ul li div {
  padding: 3%;
  background-color: rgb(230, 232, 233);
  font-size: 1rem;
  margin: 3% 0;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sales-main.mobile .sales-list-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sales-main.mobile .sales-list-form .info-field {
  display: flex;
  align-items: center;
}
.sales-main.mobile .sales-list-form .info-field label {
  margin: 10px;
  width: 100px;
  color: #9b9d9e;
  font-weight: bold;
  text-align: end;
}
.sales-main.mobile .sales-list-form .info-field input {
  all: unset;
  border-bottom: solid 1px #F4F4F4;
}
.sales-main.mobile .sales-list-form .info-field input:focus {
  border-bottom: solid 1px #1F3A93;
}
.sales-main.mobile .sales-list-form .info-field.has-content input {
  border-bottom: solid 1px #1F3A93;
}
.sales-main.mobile .sales-list-form .save-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sales-main.mobile .sales-list-form .save-field label {
  font-weight: bold;
}
.sales-main.mobile .sales-list-form .save-field .save {
  all: unset;
  cursor: pointer;
  font-size: 13vw;
  margin: 10%;
  color: #2ECC71;
}

.sales-main.pc {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.products-main.mobile {
  display: flex;
  flex-direction: column;
}
.products-main.mobile .products-list ul {
  min-height: 25vh;
  max-height: 45vh;
}
.products-main.mobile .products-list ul span {
  font-weight: 800;
  color: #9b9d9e;
}
.products-main.mobile .products-list ul li {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  list-style: none;
  border-left: solid 1px #6aacd8;
}
.products-main.mobile .products-list ul li div {
  padding: 3%;
  background-color: rgb(230, 232, 233);
  font-size: 1rem;
  margin: 3% 0;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.products-main.mobile .products-list-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.products-main.mobile .products-list-form .info-field {
  display: flex;
  align-items: center;
}
.products-main.mobile .products-list-form .info-field label {
  margin: 10px;
  width: 100px;
  color: #9b9d9e;
  font-weight: bold;
  text-align: end;
}
.products-main.mobile .products-list-form .info-field input {
  all: unset;
  border-bottom: solid 1px #F4F4F4;
}
.products-main.mobile .products-list-form .info-field input:focus {
  border-bottom: solid 1px #1F3A93;
}
.products-main.mobile .products-list-form .info-field.has-content input {
  border-bottom: solid 1px #1F3A93;
}
.products-main.mobile .products-list-form .save-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products-main.mobile .products-list-form .save-field label {
  font-weight: bold;
}
.products-main.mobile .products-list-form .save-field .save {
  all: unset;
  cursor: pointer;
  font-size: 13vw;
  margin: 10%;
  color: #2ECC71;
}

#root {
  height: 100vh;
}

body {
  background-color: white;
  font-family: "Raleway", sans-serif;
  margin: auto;
}

h2 {
  color: #2C3E50;
  font-size: 2rem;
  margin: 5%;
  display: flex;
  align-items: center;
}
h2::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #6aacd8;
  filter: drop-shadow(0 0 1rem #6aacd8) drop-shadow(0 0 0.2rem #6aacd8);
  margin-right: 0.5rem;
}

h3 {
  color: #6aacd8;
  font-size: 1.5rem;
  margin: 5%;
}

/*# sourceMappingURL=style.css.map */
